<div
  class="container flex items-center justify-center w-full pt-8 mx-auto pb-28"
>
  <div
    class="flex flex-col w-full px-4 md:flex-row md:px-0 md:justify-center md:gap-20 xl:gap-48"
  >
    <div class="rounded-lg">
      <img
        class="shadow-2xl w-full h-64 bg-cover md:w-[25rem] rounded-lg md:h-full object-cover"
        src="https://images.pexels.com/photos/16197216/pexels-photo-16197216/free-photo-of-a-man-is-sitting-in-a-mosque-reading-a-book.jpeg?auto=compress&cs=tinysrgb&w=600"
        alt="image_imam"
      />
    </div>
    <div class="mt-3 md:ml-10 xl:ml-0 2xl:ml-0 lg:ml-0 md:mt-0">
      <div class="flex flex-col h-full">
        <h1 class="text-3xl font-semibold md:text-4xl max-w-96">
          A WonderFull Agency to Fulfil your Dreams
        </h1>
        <p
          class="my-3 text-lg font-semibold text-justify text-gray-400 md:my-5 max-w-80"
        >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis aut
          iusto, repudiandae non ab voluptatum, odit, libero tenetur nostrum
          accusamus voluptatem eaque eum magni hic neque dolorem quam dolor
          recusandae.
        </p>
        <div
          class="grid items-center grid-cols-2 gap-4 py-5 mb-3 md:gap-7 md:mb-5"
        >
          <div class="flex gap-3">
            <div
              class="items-center w-8 h-8 text-xl font-normal text-center bg-yellow-300 rounded-full"
            >
              1
            </div>
            <h3 class="text-base font-semibold">
              <span></span>Visa Processing
            </h3>
          </div>

          <div class="flex gap-3">
            <div
              class="items-center w-8 h-8 text-xl font-normal text-center bg-yellow-300 rounded-full"
            >
              1
            </div>
            <h3 class="text-base font-semibold">
              <span></span>Visa Processing
            </h3>
          </div>

          <div class="flex gap-3">
            <div
              class="items-center w-8 h-8 text-xl font-normal text-center bg-yellow-300 rounded-full"
            >
              1
            </div>
            <h3 class="text-base font-semibold">
              <span></span>Visa Processing
            </h3>
          </div>
          <div class="flex gap-3">
            <div
              class="items-center w-8 h-8 text-xl font-normal text-center bg-yellow-300 rounded-full"
            >
              1
            </div>
            <h3 class="text-base font-semibold">
              <span></span>Visa Processing
            </h3>
          </div>
          <div class="flex gap-3">
            <div
              class="items-center w-8 h-8 text-xl font-normal text-center bg-yellow-300 rounded-full"
            >
              1
            </div>
            <h3 class="text-base font-semibold">
              <span></span>Visa Processing
            </h3>
          </div>
          <div class="flex gap-3">
            <div
              class="items-center w-8 h-8 text-xl font-normal text-center bg-yellow-300 rounded-full"
            >
              1
            </div>
            <h3 class="text-base font-semibold">
              <span></span>Visa Processing
            </h3>
          </div>
        </div>
        <button class="w-full px-3 py-3 bg-yellow-300 rounded-xl">
          Learn More
        </button>
      </div>
    </div>
  </div>
</div>
