<div
    class="relative md:container glass-btn blue-btn   pb-5 mx-4 md:mx-auto  bg-[#ede5e1f5]   top-[-80px] rounded-3xl shadow-xl   ">
    <div class="flex flex-col gap-2 px-4 md:flex-row">
        <div class="pt-4">

            <h1 class="text-2xl font-semibold "> <span><i class="fa-solid fa-location-dot"></i></span> Al Masjid an
                Nabawi
            </h1>
            <p class="pl-5 font-light">Medina, saudi arabia</p>
        </div>
        <div class="flex flex-col justify-between w-full md:flex-row">

            <div
                class="flex items-center md:flex-col md:justify-around justify-between py-2 border-b-2 border-[#ca715f4a]">
                <div>
                    <h2><span class="me-2"><i class="fa-regular fa-moon"></i></span>Fajr</h2>
                </div>
                <div>
                    <h2>12:00 AM <span><i class="fa-solid fa-bell"></i></span></h2>
                </div>
            </div>
            <div
                class="flex items-center justify-between py-2 border-b-2  md:flex-col md:justify-around border-[#ca715f4a]">
                <div>
                    <h2><span class="me-2"><i class="fa-regular fa-sun"></i></span>Duhar</h2>
                </div>
                <div>
                    <h2>12:00 AM <span><i class="fa-solid fa-bell"></i></span></h2>
                </div>
            </div>

            <div
                class="flex items-center  md:flex-col md:justify-around justify-between py-2 border-b-2 border-[#ca715f4a]">
                <div>
                    <h2><span class="me-2"><i class="fa-regular fa-sun"></i></span>Fajr</h2>
                </div>
                <div>
                    <h2>12:00 AM <span><i class="fa-solid fa-bell"></i></span></h2>
                </div>
            </div>

            <div class="flex items-center justify-between md:flex-col md:justify-around ">
                <div>
                    <h2><span class="me-2"><i class="fa-regular fa-sun"></i></span>Fajr</h2>
                </div>
                <div>
                    <h2>12:00 AM <span><i class="fa-solid fa-bell"></i></span></h2>
                </div>
            </div>
        </div>


    </div>
</div>