<div
  class="md:container glass-btn blue-btn pb-5 mx-4 md:mx-auto bg-[#ede5e1f5] rounded-3xl shadow-xl"
>
  <div class="flex flex-col gap-2 px-4 md:flex-row">
    <div class="pt-4">
      <div class="flex flex-row gap-3">
        <span class="pt-1"><i class="fa-solid fa-location-dot"></i></span>
        <h1 class="text-2xl font-semibold">Al Masjid an Nabawi</h1>
      </div>
      <p class="pl-5 font-light">Medina, saudi arabia</p>
    </div>
    <div class="flex flex-col justify-between w-full md:flex-row">
      <div
        class="flex items-center justify-between py-2 border-b-2 md:flex-col md:justify-around border-[#ca715f4a]"
      >
        <div>
          <h2 class="text-xl font-semibold md:text-2xl">
            <span class="me-2"><i class="fa-regular fa-sun"></i></span>Duhar
          </h2>
        </div>
        <div>
          <h2 class="text-[#777e8f] font-medium">
            12:00 AM <span><i class="fa-solid fa-bell"></i></span>
          </h2>
        </div>
      </div>
      <div
        class="flex items-center justify-between py-2 border-b-2 md:flex-col md:justify-around border-[#ca715f4a]"
      >
        <div>
          <h2 class="text-xl font-semibold md:text-2xl">
            <span class="me-2"><i class="fa-regular fa-sun"></i></span>Duhar
          </h2>
        </div>
        <div>
          <h2 class="text-[#777e8f] font-medium">
            12:00 AM <span><i class="fa-solid fa-bell"></i></span>
          </h2>
        </div>
      </div>
      <div
        class="flex items-center justify-between py-2 border-b-2 md:flex-col md:justify-around border-[#ca715f4a]"
      >
        <div>
          <h2 class="text-xl font-semibold md:text-2xl">
            <span class="me-2"><i class="fa-regular fa-sun"></i></span>Duhar
          </h2>
        </div>
        <div>
          <h2 class="text-[#777e8f] font-medium">
            12:00 AM <span><i class="fa-solid fa-bell"></i></span>
          </h2>
        </div>
      </div>
      <div
        class="flex items-center justify-between py-2 border-b-2 md:flex-col md:justify-around border-[#ca715f4a]"
      >
        <div>
          <h2 class="text-xl font-semibold md:text-2xl">
            <span class="me-2"><i class="fa-regular fa-sun"></i></span>Duhar
          </h2>
        </div>
        <div>
          <h2 class="text-[#777e8f] font-medium">
            12:00 AM <span><i class="fa-solid fa-bell"></i></span>
          </h2>
        </div>
      </div>
      <div
        class="flex items-center justify-between py-2 border-b-2 md:flex-col md:justify-around border-[#ca715f4a]"
      >
        <div>
          <h2 class="text-xl font-semibold md:text-2xl">
            <span class="me-2"><i class="fa-regular fa-sun"></i></span>Duhar
          </h2>
        </div>
        <div>
          <h2 class="text-[#777e8f] font-medium">
            12:00 AM <span><i class="fa-solid fa-bell"></i></span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
