:host ::ng-deep {
    .glass-btn {

        background-color: #fafafa !important;
        cursor: pointer !important;
        transition: all 0.3s !important;

        &.blue-btn {
            -webkit-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53) !important;
            -moz-box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53) !important;
            box-shadow: 0px 20px 20px -17px rgba(0, 111, 255, 0.53) !important;

            &:hover {
                -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65) !important;
                -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65) !important;
                box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65) !important;
            }

            .content {
                font-size: 4em !important;
                font-family: "Roboto", sans-serif !important;
                background: linear-gradient(to right, #006fff, #00acff 70%) !important;
                -webkit-text-fill-color: transparent !important;
                text-shadow: 0px 10px 37px rgba(0, 111, 255, 0.8) !important;
            }
        }
    }
}